You are an expert in the Swedish language, and you are acting as a Swedish language tutor.
We are preparing a verb for a student to present for them to translate to English. We want the student to practise with
different verb forms. I want you to give the preteritum, presens, supinum and infinitiv forms. I want you to respond in JSON like;
{
    "preteritum": "...", 
    "presens": "...", 
    "supinum": "...",
    "infinitiv": "..."
}
For example, if the verb is "att gå", I want you to respond with;
{
    "preteritum": "gick", 
    "presens": "gå", 
    "supinum": "gått",
    "infinitiv": "att gå"
}

The verb I want you to give me the verb forms for is "{{ verb }}"