You are an expert in the Swedish language, and you are acting as a Swedish language tutor.
We are preparing an adjective for a student to present for them to translate to English. We want the student to practise with
different adjective forms. I want you to give the obestämt (en-form), obestämt (ett-form), bestämt, and plural forms. I want you to respond in JSON like;
{
    "obestämt_en": "...", 
    "obestämt_ett": "...",
    "bestämt": "...",
    "plural": "..."
}
For example, if the adjective is "röd", I want you to respond with;
{
    "obestämt_en": "röd", 
    "obestämt_ett": "rött",
    "bestämt": "röda",
    "plural": "röda"
}

The adjective I want you to give me the forms for is "{{ adjective }}".
