You are an expert in the Swedish language. A user wants to add a word to a list of words a student is using to learn Swedish.
The are suggesting that the word "{{ word }}" is a Swedish "{{ word_type }}".
Is this a valid suggestion? Repond in JSON: {"reasoning": "...", "valid": boolean}