<h3>About</h3>
<p>
    Welcome to Jim Barrett's website. I'm a machine learning research engineer working at Klarna in Stockholm, Sweden.
</p>
<p>
    My work with Klarna has had me work a lot with webpages and web technologies, and I decided that it would be a good learning opportunity to build a website myself, from scratch. So, my apologies that this isn't the prettiest website around. The site is, however, completely open source, which you can see on <a href="https://github.com/jimbarrett27/website">GitHub</a>.
</p>

<p>
    The site is intended to be something of a playground for me to learn web development, JavaScript and other fun stuff. I'm also planning to use it to host a blog, as and when I have some interesting stuff to write about. I'll also try to maintain it as a sort of 'live CV'.
</p> 
