{% extends "base.html" %}

{% block content %}
	<h2>Publications:</h2>

		Jim W. Barrett, Sebastian M. Gaebel, Coenraad J. Neijssel, Alejandro Vigna-Gómez, Simon Stevenson, Christopher P. L. Berry, Will M. Farr, Ilya Mandel - Accuracy of inference on the physics of binary evolution from gravitational-wave observations - submitted - https://arxiv.org/abs/1711.06287

		Jim W. Barrett, Ilya Mandel, Coenraad J. Neijssel, Simon Stevenson, Alejandro Vigna-Gomez - Exploring the Parameter Space of Compact Binary Population Synthesis - Proceedings of the International Astronomical Union - https://arxiv.org/abs/1704.03781

		Simon Stevenson, Alejandro Vigna-Gomez, Ilya Mandel, Jim W. Barrett, Coenraad J. Neijssel, David Perkins, Selma E. de Mink - Formation of the first three gravitational-wave observations through isolated binary evolution  - Nature Communications - https://arxiv.org/abs/1704.01352

		Jim Barrett - The Dynamics of Vortex Flow through Thin Channels - University of Birmingham, Masters Thesis - pdf

	<h2>Awards:</h2>

		$20000 Grant Recipient - Microsoft Azure for Research

		Best Student Presentation - BEAR Conference 2015

		Finalist - I'm a Scientist Get Me Out of Here!

		Best Talk - Birmingham Astrophysics Science Jamboree 2016

	<h2>Teaching Activity:</h2>

		Yr1 Undergraduate - Introduction to Computing (C++) - Demonstrating - 2014/15, 2015/16

		Yr2 Undergraduate - Mathematics for Physicists - Problem Sheet Marking - 2014/15

		Yr3 Undergraduate - Introduction to C++ - Demonstrating and Marking - 2015/16

		Yr3 Undergraduate - Object-Oriented Programming with C++ - Demonstrating - 2016/17

		Masters Level - C++ for Finance - Teaching Assistant - 2016/17

	<h2>Outreach Activity:</h2>

		Villiers Park Residential Course on Astrophysics - Course Tutor (09/2017)

		Year 10 Work Experience - Project Supervisor (07/2016)

		Access to Birmingham (A2B) Mentor (07/2016)

		I'm a Scientist, Get Me Out of Here! (03/2016)

		Access to Birmingham (A2B) Mentor (08/2015)

		UoB School Induction Day (07/2015)

	<h2>Conference Activity:</h2>

		30/10/2017 - Visiting Academic - Amsterdam, Netherlands

		20-27/08/2017 - COIN Residency Program - Clermont-Ferrand, France - Participant

		09-12/08/2017 - KAVLI Summer School - Copenhagen, Denmark - Visited

		26-30/06/2017 - EWASS - Prague, Czechia - Poster

		19-21/06/2017 - PEN Emulators Workshop - Leeds, UK - Attended

		03-07/04/2017 - SAMSI workshop on Population Emulation - North Carolina, USA - Talk

		14/12/2016 - BEAR Conference - Birmingham, UK - Talk

		20-24/10/2016 - IAU Symposium 325 on Astroinformatics - Sorrento, Italy - Poster, Proceedings

		16-20/10/2016 - ADASS 2016 - Trieste, Italy - Poster

		05-08/09/2016 - ICIC Workshop on Bayesian Data Analysis - Imperial College, UK - Attended

		30/08/2016 - 01/09/2016 - CRISM Masterclass on Sparse Regression - Warwick, UK - Poster

		22-24/06/2016 - Intractable Likelihood (i-Like) Workshop - Lancaster, UK - Poster

		07/06/2016 - Birmingham Astrophysics Science Jamboree - Birmingham, UK - Poem

		11/02/2016 - Corpus Statistics Group Launch - Birmingham, UK - Attended

		15/12/2015 - BEAR Conference - Birmingham, UK - Talk

		14-18/12/2015 - BigWaves School - Birmingham, UK - Attended

		26/10/2015 - IMPACT Conference - Nottingham, UK - Talk

		20-22/05/2015 - Intractable Likelihood (i-Like) Workshop - Bristol, UK - Poster

		20-21/04/2015 - BritGrav - Birmingham, UK - Attended

		06/02/2015 - IMPACT Conference - Warwick, UK - Poster

		08/10/2014 - IMPACT Conference - Birmingham, UK - Attended

		22-26/09/2014 - BigWaves School - Birmingham, UK - Attended
		
{% endblock %}