{% extends "main.html" %}
{% block page_content %}
<div class="align-center">
{% for i in range(5) %}
    {% for j in range(5) %}
        {% set problem_number = (i*5 + j) + 1 %}
        {% if problem_number in completed_days %}
            <button style="color:antiquewhite ;background-color: #015209;">
        {% elif problem_number in half_completed_days %}
            <button style="color:antiquewhite ;background-color: #8f7a03;">
        {% else %}
            <button style="color:antiquewhite ;background-color: #8a000b;">
        {% endif %}
        {{ problem_number }}</button>
    {% endfor %}
    <br>
{% endfor %}
</div>
{% endblock %}
