{% extends "main.html" %}
{% block page_content %}
<script>
    async function populate_code_block(problem_number){
        const code_location = "/get_advent_solution/" + problem_number;
        fetch(code_location)
        .then(function(response) {
            return response.text();
        }).then(function(data) {
            let code_element = document.querySelector('code');
            code_element.innerHTML = data
            hljs.highlightElement(code_element);
        });
    }
</script>

I have set myself a personal challenge in 2023 to try and get up to date with <a href="https://adventofcode.com/">advent of code</a>,
 a set of programming challenges released each December. The plan is to finish all the problems before December 2023. 
<p></p>
I also thought it might be a nice opportunity to play around with a new language, so I settled on Rust. As such, bear in mind
that all the code below is written by a Rust newbie 🤓
<p></p>
Each day has 2 related problems, for a total of 50 problems per year. 
Each button below will show my code solving that problem. Green buttons where I have solved both problems of the
day, orange where I have only solved the first one and red where I haven't solved either.
<p></p>
<div class="align-center">
{% for i in range(5) %}
    {% for j in range(5) %}
        {% set problem_number = (i*5 + j) + 1 %}
        <button onclick="populate_code_block({{problem_number}})">{{problem_number}}</button>
    {% endfor %}
    <br>
{% endfor %}'

<pre><code class="language-rust" style="text-align: left;"></code></pre>
</div>



{% endblock %}
