{% extends "main.html" %}
{% block page_content %}
<script>
    async function populate_code_block(problem_number){

        const year_heading = document.getElementById('year-heading');
        const year = year_heading.innerHTML.split(' ')[0];

        const code_location = "/get_advent_solution/" + year + "/" + problem_number;
        fetch(code_location)
        .then(function(response) {
            return response.text();
        }).then(function(data) {
            let code_element = document.querySelector('code');
            code_element.innerHTML = data
            hljs.highlightElement(code_element);
        });
    }

    function change_year(direction){
        const year_heading = document.getElementById('year-heading');
        const year = parseInt(year_heading.innerHTML.split(' ')[0]);
        const new_year = direction === 'left' ? year - 1 : year + 1;
        year_heading.innerHTML = new_year + " Solutions";
        const code_element = document.querySelector('code');
        code_element.innerHTML = '';

        setup_buttons()
    }

    function setup_buttons(){

        const year_heading = document.getElementById('year-heading');
        const year = parseInt(year_heading.innerHTML.split(' ')[0]);

        const solution_status = {{ solution_status_dict | tojson }};

        for (let i = 1; i <= 25; i++){
            const button = document.getElementById('problem-' + i);
            if (solution_status[year][i] == 'both') button.style.backgroundColor = '#00a32c';
            else if (solution_status[year][i] == 'half') button.style.backgroundColor = '#e6a400';
            else button.style.backgroundColor = '#c42939';
        }
    }

    window.onload = setup_buttons;

</script>

I have set myself a personal challenge to try and get up to date with <a href="https://adventofcode.com/">advent of code</a>,
 a set of programming challenges released each December. 
<p></p>
Each day has 2 related problems, for a total of 50 problems per year. 
Each button below will show my code solving that problem. Green buttons where I have solved both problems of the
day, orange where I have only solved the first one and red where I haven't solved either.
<p></p>
<h2 id="year-heading">2015 Solutions</h2>
<div style="display: flex; align-items: center;">
<button onclick="change_year('left')">◀</button>
<div class="align-center">
{% for i in range(5) %}
    {% for j in range(5) %}
        {% set problem_number = (i*5 + j) + 1 %}
        <button
            id="problem-{{problem_number}}"
            onclick="populate_code_block({{problem_number}})"
            style="color: aliceblue !important; "
        >
            {{problem_number}}
        </button>
    {% endfor %}
    <br>
{% endfor %}
</div>
<button onclick="change_year('right')">▶</button>
</div>
<p></p>
<pre><code class="language-python" style="text-align: left;"></code></pre>


{% endblock %}