{% extends "base.html" %}

{% block content %}
	<button class="requestExercise1">Exercise 1</button>
	<p class="exercise1Result"></p>
	<script type="text/javascript">
		const answerField = document.querySelector('.exercise1Result')
		const requestButton = document.querySelector('.requestExercise1')

		function exercise1() {
			
			let total = 0;
			for (let i=0; i<1000; i++)
			{
				if ((i % 3) * (i % 5) === 0) total += i;
			}

			answerField.textContent = total
		}

		requestButton.addEventListener('click', exercise1)
	</script>
{% endblock %}