---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <h2>First Author Publications</h2>

            <p>
                <b
                    >Accuracy of inference on the physics of binary evolution
                    from gravitational-wave observations</b
                ><br />
                Jim W. Barrett, Sebastian M. Gaebel, Coenraad J. Neijssel, Alejandro
                Vigna-Gómez, Simon Stevenson, Christopher P. L. Berry, Will M. Farr,
                Ilya Mandel<br />
                <a href="https://doi.org/10.1093/mnras/sty908"
                    >https://doi.org/10.1093/mnras/sty908</a
                >
            </p>

            <p>
                <b
                    >Topics in astrostatistics: stellar binary evolution,
                    gravitational – wave source modelling and stochastic
                    processes</b
                ><br />
                Jim W. Barrett<br />
                <a href="https://inspirehep.net/literature/1841969"
                    >https://inspirehep.net/literature/1841969</a
                >
            </p>

            <p>
                <b
                    >Exploring the Parameter Space of Compact Binary Population
                    Synthesis</b
                ><br />
                Jim W. Barrett, Ilya Mandel, Coenraad J. Neijssel, Simon Stevenson,
                Alejandro Vigna-Gomez<br />
                <a href="https://doi.org/10.1017/S1743921317000059"
                    >https://doi.org/10.1017/S1743921317000059</a
                >
            </p>

            <h2>Other Publications</h2>

            <p>
                <b
                    >Decision Support for Signal Assessment of Large Case Series
                    in Pharmacovigilance</b
                ><br />
                Lucy Quirant, Lovisa Sandberg, Jim W. Barrett, Johan Ellenius<br
                />
                <a href="https://dx.doi.org/10.3233/SHTI230213"
                    >https://dx.doi.org/10.3233/SHTI230213</a
                >
            </p>

            <p>
                <b
                    >Global safety monitoring of COVID-19 vaccines: how
                    pharmacovigilance rose to the challenge</b
                ><br />
                Annette Rudolph, Joseph Mitchell, Jim Barrett, Helena Sköld, Henric
                Taavola, Nils Erlanson, Carlos Melgarejo-González, Qun-Ying Yue<br
                />
                <a
                    href="https://journals.sagepub.com/doi/10.1177/20420986221118972"
                    >https://journals.sagepub.com/doi/10.1177/20420986221118972</a
                >
            </p>

            <p>
                <b>Rapid stellar and binary population synthesis with COMPAS</b
                ><br />
                Team COMPAS: Jeff Riley, Poojan Agrawal, Jim W. Barrett, Kristan
                N. K. Boyett, Floor S. Broekgaarden, Debatri Chattopadhyay, Sebastian
                M. Gaebel, Fabian Gittins, Ryosuke Hirai, George Howitt, Stephen
                Justham, Lokesh Khandelwal, Floris Kummer, Mike Y. M. Lau, Ilya Mandel,
                Selma E. de Mink, Coenraad Neijssel, Tim Riley, Lieke van Son, Simon
                Stevenson, Alejandro Vigna-Gomez, Serena Vinciguerra, Tom Wagg, Reinhold
                Willcox<br />
                <a href="https://arxiv.org/abs/2109.10352"
                    >https://arxiv.org/abs/2109.10352</a
                >
            </p>

            <p>
                <b>On the formation history of Galactic double neutron stars</b
                ><br />
                Alejandro Vigna-Gómez, Coenraad J. Neijssel, Simon Stevenson, Jim
                W. Barrett, Krzysztof Belczynski, Stephen Justham, Selma E. de Mink,
                Bernhard Müller, Philipp Podsiadlowski, Mathieu Renzo, Dorottya Szécsi,
                Ilya Mandel<br />
                <a href="https://doi.org/10.1093/mnras/sty2463"
                    >https://doi.org/10.1093/mnras/sty2463</a
                >
            </p>

            <p>
                <b
                    >Optimizing spectroscopic follow-up strategies for supernova
                    photometric classification with active learning</b
                ><br />
                E. E. O. Ishida, R. Beck, S. Gonzalez-Gaitan, R. S. de Souza, A.
                Krone-Martins, J. W. Barrett, N. Kennamer, R. Vilalta, J. M. Burgess,
                B. Quint, A. Z. Vitorelli, A. Mahabal, E. Gangler<br />
                <a href="https://doi.org/10.1093/mnras/sty3015"
                    >https://doi.org/10.1093/mnras/sty3015</a
                >
            </p>

            <p>
                <b
                    >Aldebaran b's temperate past uncovered in planet search
                    data</b
                ><br />
                Will M. Farr, Benjamin J. S. Pope, Guy R. Davies, Thomas S. H. North,
                Timothy R. White, Jim W. Barrett, Andrea Miglio, Mikkel N. Lund,
                Victoria Antoci, Mads Fredslund Andersen, Frank Grundahl, Daniel
                Huber<br />
                <a href="https://doi.org/10.3847/2041-8213/aadfde"
                    >https://doi.org/10.3847/2041-8213/aadfde</a
                >
            </p>

            <p>
                <b
                    >Formation of the first three gravitational-wave
                    observations through isolated binary evolution</b
                ><br />
                Simon Stevenson, Alejandro Vigna-Gomez, Ilya Mandel, Jim W. Barrett,
                Coenraad J. Neijssel, David Perkins, Selma E. de Mink<br />
                <a href="https://doi.org/10.1038/ncomms14906"
                    >https://doi.org/10.1038/ncomms14906</a
                >
            </p>

            <p>
                <b
                    >STROOPWAFEL: simulating rare outcomes from astrophysical
                    populations, with application to gravitational-wave sources</b
                ><br />
                Floor S Broekgaarden, Stephen Justham, Selma E de Mink, Jonathan
                Gair, Ilya Mandel, Simon Stevenson, Jim W Barrett, Alejandro Vigna-Gómez,
                Coenraad J Neijssel<br />
                <a
                    href="https://academic.oup.com/mnras/article-abstract/490/4/5228/5575207?redirectedFrom=fulltext"
                    >https://academic.oup.com/mnras/article-abstract/490/4/5228/5575207?redirectedFrom=fulltext</a
                >
            </p>

            <h2>Masters Theses Supervised</h2>
            <p>
                <b
                    >Free-text Informed Duplicate Detection of COVID-19 Vaccine Adverse Event Reports</b
                ><br />
                Erik Turesson<br />
                <a href="https://uu.diva-portal.org/smash/record.jsf?pid=diva2%3A1670567&dswid=-6663">
                    https://uu.diva-portal.org/smash/record.jsf?pid=diva2%3A1670567&dswid=-6663
                </a>
            </p>
            <p>
                <b
                    >Utilizing Transformers with Domain-Specific Pretraining and Active Learning to Enable Mining of Product Labels</b
                ><br />
                Erik Norén<br />
                <a href="https://uu.diva-portal.org/smash/record.jsf?pid=diva2%3A1802827&dswid=7830">
                    https://uu.diva-portal.org/smash/record.jsf?pid=diva2%3A1802827&dswid=7830
                </a>
            </p>
            <p>
                <b
                    >Extracting Known Side Effects from Summaries of Product Characteristics (SmPCs) Provided in PDF Format by the European Medicines Agency (EMA) using BERT and Python
                    </b
                ><br />
                Rinyarat Buakhao<br />
                <a href="https://uu.diva-portal.org/smash/record.jsf?pid=diva2%3A1860745&dswid=1062">
                    https://uu.diva-portal.org/smash/record.jsf?pid=diva2%3A1860745&dswid=1062
                </a>
            </p>


            <h2>Patents</h2>
            <p>
                <b
                    >Extraction and restoration of option selections in a user
                    interface</b
                ><br />
                James W. Barrett, Oliver Edholm<br />
                <a href="https://patents.google.com/patent/US20210141499A1">
                    https://patents.google.com/patent/US20210141499A1
                </a>
            </p>
            <p>
                <b> Real-time interface classification in an application</b><br
                />
                Vladimir Curic, James W. Barrett, Andrey Melentyev, Melody Ju<br
                />
                <a href="https://patents.google.com/patent/US11550602B2">
                    https://patents.google.com/patent/US11550602B2
                </a>
            </p>
        </main>
        <Footer />
    </body>
</html>
