---
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import AdventOfCode from "../../../components/AdventOfCode.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../consts";

const { pageYear } = Astro.params;

export async function getStaticPaths() {

    const solutionStatusUrl = "https://raw.githubusercontent.com/jimbarrett27/AdventOfCode/refs/heads/main/solution_status.txt";
    const response = await fetch(solutionStatusUrl).then(res => res.text());
    const lines = response.split('\n');

    let availableYears: Set<number> = new Set(); 
    for (const line of lines) {
        availableYears.add(parseInt(line.split(' ')[0]));
    }

    const minYear = Math.min(...availableYears);
    const maxYear = Math.max(...availableYears);

    const paths = [];
    for (let i = minYear; i <= maxYear; i++) {
        for (let j = 1; j <= 25; j++) {
            paths.push({ params: { pageYear: i.toString(), pageDay: j.toString() } });
        }
    }
    return paths;
}

---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
        <AdventOfCode pageYear={parseInt(pageYear)} pageDay={-1} />
    </main>
        <Footer />
    </body>
</html>