<h2>About</h2>
<p>
    Welcome to Jim Barrett's website. I'm a Data Scientist working at the Uppsala Monitoring Centre, based in Uppsala, Sweden.
</p>
<p>
    In my previous job, I worked a lot with machine learning in the context of webpages and web technologies, and 
    decided to create a website myself, from scratch, to get a better grip on how all this stuff works. 
    You can see how I've implemented everything on <a href="https://github.com/jimbarrett27/website">GitHub</a>.
</p>

<p>
    This site is intended to be something of a playground for me to mess around with various web related things. 
    I'm also planning to use it to host a blog, as and when I have some interesting stuff to write about. 
    I'll also try to maintain it as a sort of 'live CV'.
</p> 
