{% extends "main.html" %}
{% block page_content %}
<script>
    async function populate_code_block(problem_number){
        const code_location = "/get_advent_solution/" + problem_number;
        fetch(code_location)
        .then(function(response) {
            return response.text();
        }).then(function(data) {
            let code_element = document.querySelector('code');
            code_element.innerHTML = data
        });
    }
</script>
<div class="align-center">
{% for i in range(5) %}
    {% for j in range(5) %}
        {% set problem_number = (i*5 + j) + 1 %}
        <button onclick="populate_code_block({{problem_number}})">{{problem_number}}</button>
    {% endfor %}
    <br>
{% endfor %}'

<pre><code class="language-rust"></code></pre>
</div>



{% endblock %}
