<h2>Project Euler</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
<script type="text/javascript" async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
<p> 
	I decided to learn Go! I felt a good way to learn would be to tackle some of the <a href="https://projecteuler.net/">Project Euler</a> problems. I also
	took the opportunity to learn how to call these functions from Python.
</p>
<p>
	The buttons highlighted in green in the table below represent the problems I have completed. Clicking them will display my code, together with a button which will
	(asynchronously) run the code in real time, and display the answer.
</p> 
<p>
	Unfortunately, I haven't yet thought up a good way to recursively expand my go imports to show the library functions I'm using. When I have a good idea, I'll implement that
	at a future date.
</p>

<table style="width: 100%">
{% for i in range(10) %}
	<tr>
	{% for j in range(1, 11) %}
		{% set cellNumber=10*i + j %}
		<td>
			{% if cellNumber in solvedProblemNumbers %}
			<button class="requestExercise{{cellNumber}}", style="width: 100%; background-color: #51d14b">
				{{cellNumber}}
			</button>
			{% else %}
			<button class="requestExercise{{cellNumber}}", style="width: 100%; background-color: #d14b4b">
				{{cellNumber}}
			</button>
			{% endif %}
		</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>

<div style="width: 100%">
	<h3 class="exerciseTitle"></h3>
	<div class="exerciseDescription"></div>
	<div class="solutionDiv" style="display: none">
		<h3>Solution</h3>
		<button class="runCode">Run Code!</button>
		<h4 class="solution"></h4>
	</div>
	<pre><code class="go"><div class="exerciseSource" style="width: 100%"></div></code></pre>
</div>
<script type="text/javascript" src="/static/js/projectEuler.js">
</script>
<script>
	{% for problem in solvedProblems %}
		initialiseRequestButton("{{ problem.number }}", "{{ problem.name }}", "{{ problem.description|safe }}", document.querySelector('.requestExercise{{problem.number}}'))
	{% endfor %}
</script>

