{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>

<table style="width: 80%">
{% for i in range(10) %}
	<tr>
	{% for j in range(1, 11) %}
		{% set cellNumber=10*i + j %}
		<td>
			<button class="requestExercise{{cellNumber}}", style="width: 100%;">
				{{cellNumber}}
			</button>
		</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>

<div>
	<h3 class="exerciseTitle">Exercise 1</h3>
	<div class="exerciseSource"/>

</div>

{% for problem in solvedProblems %}
		{% set filename="js/exerciseSolutions/exercise" + problem|string +".js" %}
		<div>
			<button class="requestExercise{{problem}}">
				Exercise {{problem}}
			</button>
			<p class="exercise{{problem}}Result"/>
			<div class="exercise{{problem}}Source"/>
			<script type="module">
				import exercise{{problem}} from "{{ url_for('static', filename=filename) }}";
				import loadFile from "{{ url_for('static', filename='js/libraryFunctions/fileLoading.js') }}";


				const source{{problem}} = document.querySelector('.exercise{{problem}}Source');
				const answerField{{problem}} = document.querySelector('.exercise{{problem}}Result');
				const requestButton{{problem}} = document.querySelector('.requestExercise{{problem}}');

				function displayAnswer()
				{
					let answer = exercise{{problem}}();
					answerField{{problem}}.textContent = answer;
					source{{problem}}.innerHTML = '<pre><code class="javascript">'+loadFile("{{ url_for('static', filename=filename) }}")+'</code></pre>';
					document.querySelectorAll('pre code').forEach((block) => {
						hljs.highlightBlock(block);
					});
				}

				requestButton{{problem}}.addEventListener('click', displayAnswer);
				
			</script>
		</div>
		<hr>		
{% endfor %}
{% endblock %}