{% extends "main.html" %}
{% block page_content %}
<h2>First Author Publications</h2>
{% for publication in publications %}
	{% if publication.first_author == 'True' %}
		<p>
			<b>{{ publication.title }}</b><br>
			{{ publication.authors }}<br> 
			<a href={{ publication.link }}>{{ publication.link }}</a>
		</p>
	{% endif %}
{% endfor %}
<h2> Other Publications </h2>
{% for publication in publications %}
	{% if publication.first_author == 'False' %}
		<p>
			<b>{{ publication.title }}</b><br>
			{{ publication.authors }}<br> 
			<a href={{ publication.link }}>{{ publication.link }}</a>
		</p>
	{% endif %}
{% endfor %}
<h2> Patents </h2>
	<p>
		<b>Extraction and restoration of option selections in a user interface</b><br>
		James W. Barrett, Oliver Edholm<br>
		<a href=https://patents.google.com/patent/US20210141499A1> https://patents.google.com/patent/US20210141499A1 </a>
	</p>
	<p>
		<b>https://patents.google.com/patent/US11550602B2/</b><br>
		Vladimir Curic, James W. Barrett, Andrey Melentyev, Melody Ju<br>
		<a href=https://patents.google.com/patent/US11550602B2> https://patents.google.com/patent/US11550602B2 </a>
	</p>
{% endblock %}